.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.fa-sign-in {
  color: white;
}

.btn-login {
  color: #fefefefe;
}

.btn-request-login {
  margin-top: 10px;
  background-color: #512da8;
  margin-bottom: 10px;
}

@media (max-width: 872px) {
  .nav-icon {
    min-width: 25px;
  }
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #3e2c41;
  color: rgb(245, 241, 233);
  border-radius: 0%;
}

.navbar-dark {
  background-color: #261c2c;
}

.header-logo {
  text-align: center;
}

.modal-header {
  background: #3e2c41;
  color: rgb(245, 241, 233);
}
.modal-body {
  background: #6e85b2;
  color: rgb(245, 241, 233);
}
